/** biome-ignore-all lint/complexity/noImportantStyles: <enforcing with important only for reduced motion mode> */

/*
* ========================================
* ============= Style resets =============
* ========================================
*/

/* inspired by:
  https://notes.joschua.io/50-Slipbox/CSS-Reset
  https://www.youtube.com/watch?v=cCAtD_BAHNw
*/

/* Box sizing rules
  Remove default margin
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
  scroll-margin-top: 4rem;
}

html {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'] ol[role='list'] {
  list-style: none;
}

/* Set smooth scrolling */
:has(:target) {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  text-rendering: optimizeSpeed;
  /* line-height: 1.5; not sure why this is set*/
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  height: auto;
  font-style: italic; /* this is useful for alt texts when images are not loaded */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: pretty;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}
